<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "build" %>
    <%= javascript_include_tag "build" %>
  </head>
  <body data-controller="audio">
    <%= partial "shared/nav" %>
    <%= partial "shared/header" %>

    <main class="border-t border-slate-200 lg:relative lg:mb-16 lg:ml-[500px] lg:border-t-0">
      <%= yield %>
    </main>

    <%= partial "shared/player" %>
  </body>
</html>
