<section class="my-10 lg:my-12">
  <h2 class="flex items-center text-sm font-medium leading-7 text-slate-900 sr-only lg:not-sr-only">Listen with your favorite app</h2>
  <ul role="list" class="my-4 text-base font-medium leading-7 text-slate-700 gap-4 lg:gap-6 flex justify-center flex-wrap lg:justify-start">
    <li><%= inline_svg("icons/platforms/spotify.svg", role: "img", aria_label: "Spotify", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
    <li><%= inline_svg("icons/platforms/apple_podcasts.svg", role: "img", aria_label: "Apple Podcasts", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
    <li><%= inline_svg("icons/platforms/google_podcasts.svg", role: "img", aria_label: "Google Podcasts", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
    <li><%= inline_svg("icons/platforms/castro.svg", role: "img", aria_label: "Castro", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
    <li><%= inline_svg("icons/platforms/itunes.svg", role: "img", aria_label: "Itunes", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
    <li><%= inline_svg("icons/platforms/overcast.svg", role: "img", aria_label: "Overcast", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
    <li><%= inline_svg("icons/platforms/rss.svg", role: "img", aria_label: "Castro", class: "h-5 w-5 lg:h-6 lg:w-6 fill-tertiary") %></li>
  </ul>
  <span class="text-tertiary h-5 lg:h-6 inline-flex items-center text-xs rounded-full sr-only lg:not-sr-only">and many more...</span>
</section>
