<section class="mt-10 lg:mt-12">
  <h2 class="sr-only flex items-center text-sm font-medium leading-7 text-slate-900 lg:not-sr-only">Listen with your favorite app</h2>
  <div class="h-px bg-gradient-to-r from-slate-200/0 via-slate-200 to-slate-200/0 lg:hidden"></div>
    <ul role="list" class="mt-4 gap-10 text-base font-medium leading-7 text-slate-700 sm:gap-8 lg:gap-4 flex flex-wrap">
      <li><%= inline_svg("icons/platforms/spotify.svg", role: "img", aria_label: "Spotify", class: "h-6 w-6 fill-tertiary") %></li>
      <li><%= inline_svg("icons/platforms/apple_podcasts.svg", role: "img", aria_label: "Apple Podcasts", class: "h-6 w-6 fill-tertiary") %></li>
      <li><%= inline_svg("icons/platforms/google_podcasts.svg", role: "img", aria_label: "Google Podcasts", class: "h-6 w-6 fill-tertiary") %></li>
      <li><%= inline_svg("icons/platforms/castro.svg", role: "img", aria_label: "Castro", class: "h-6 w-6 fill-tertiary") %></li>
      <li><%= inline_svg("icons/platforms/itunes.svg", role: "img", aria_label: "Itunes", class: "h-6 w-6 fill-tertiary") %></li>
      <li><%= inline_svg("icons/platforms/overcast.svg", role: "img", aria_label: "Overcast", class: "h-6 w-6 fill-tertiary") %></li>
      <li><%= inline_svg("icons/platforms/rss.svg", role: "img", aria_label: "Castro", class: "h-6 w-6 fill-tertiary") %></li>
      <li><span class="text-tertiary h-6 inline-flex items-center text-xs rounded-full">and many more...</span></li>
    </ul>
  </div>
</section>
