<nav class="fixed bottom-0 block w-full lg:left-16 h-12 lg:h-16 bg-gradient-to-l from-primary via-secondary to-tertiary text-white z-20">
  <ul class="flex items-center gap-6 lg:gap-10 h-full font-semibold px-6 lg:px-10 overflow-x-scroll text-sm lg:text-lg">
    <li><%= current_link_to "Episodes", "/", class: "hover:underline aria-current-page:underline aria-current-page:font-semibold" %></li>
    <li><%= current_link_to "Newsletter", "/newsletter", class: "hover:underline aria-current-page:underline aria-current-page:font-semibold" %></li>
    <li><%= current_link_to "About", "/about", class: "hover:underline aria-current-page:underline aria-current-page:font-semibold" %></li>
    <li><%= current_link_to "Subscribe", "/subscribe", class: "hover:underline aria-current-page:underline aria-current-page:font-semibold" %></li>
    <li><%= current_link_to "Login", "/login", class: "hover:underline aria-current-page:underline aria-current-page:font-semibold" %></li>
  </ul>
</nav>
