---
title: Welcome to Middleman
---

<h2 class="text-lg text-gray-800 border-b p-8 lg:px-16 font-bold">Episodes</h2>

<% blog.articles.each do |podcast| %>
  <article class="<%= "border-b" unless podcast == page_articles.last %> border-dashed p-8 lg:px-16 lg:py-12" data-controller="podcast" data-podcast-mp3-value="<%= podcast_mp3_url(podcast) %>" data-podcast-title-value="<%= "#{podcast.data.episode}: #{podcast.title}" %>">
    <% if podcast.data.podcast_complete_mp3 %>
      <div class="mb-2">
        <span class="-ml-1 px-2 py-1 bg-gradient-to-tl from-secondary to-tertiary text-white font-semibold rounded-full text-xs uppercase">Free full episode</span>
      </div>
    <% end %>

    <time datetime="<%= podcast.date %>" class="order-first font-mono text-sm leading-7 text-slate-500 block"><%= podcast.date.strftime('%b %e, %Y') %></time>
    <h3 class="mb-2 text-xl font-black leading-tight text-gray-900 transition duration-300 group-hover:text-secondary-500 ease-in-out"><%= "#{podcast.data.episode}: #{podcast.title}" %></h3>
    <p class="text-gray-700 font-base max-w-3xl"><%= podcast.data["teaser"] %></p>

    <button data-action="podcast#play" class="group font-semibold text-tertiary hover:text-primary text-xs mt-4 uppercase flex items-center gap-2">
      <%= inline_svg("icons/arrow-right.svg", aria_hidde: true, class: "fill-tertiary group-hover:fill-primary h-2.5 w-2.5") %>

      <% if podcast.data.podcast_complete_mp3 %>
        <span>play full episode</span>
      <% else %>
        <span>play sample</span>
      <% end %>
    </button>

  </article>
<% end %>

